---
layout: default
permalink: /lectures/
title: Лекции и семинары
---

<h1>Лекции и семинары</h1>

<h2>Материалы лекций</h2>

<ul class="content-list">
  {% for lecture in site.data.lectures %}
  <li>
    <span class="num">{% include ru_date.html date=lecture.date %}</span>
    <a href="{{ '/assets/lectures/' | append: lecture.file | relative_url }}">{{ lecture.title }}</a>
    <span class="badge">PDF</span>
  </li>
  {% endfor %}
</ul>

<h2>Материалы семинаров</h1>

<ul class="content-list">
  {% for seminar in site.data.seminars %}
  <li>
    <span class="num">{% include ru_date.html date=seminar.date %}</span>
    <a href="{{ '/assets/seminars/' | append: seminar.file | relative_url }}">{{ seminar.title }}</a>
    <span class="badge">PDF</span>
  </li>
  {% endfor %}
</ul>
